In [133]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [192]:
# store website url in a variable
website = 'https://www.cars45.com/listing/lexus?listing_id=uc0qL_tfhqKfJoc7'

In [193]:
# request website
response = requests.get(website)

In [194]:
# soup object
soup = BeautifulSoup(response.content, 'html.parser')

In [195]:
# bringing up the content of the url
results = soup.find_all('div',{'class':'car-feature__details'})
len(results)

15

In [196]:
# name
results[0].find('p',{'class':'car-feature__name'}).get_text()

'Lexus ES 2009 Gray'

In [197]:
# price
results[0].find('p',{'class':'car-feature__amount'}).get_text().split()[-1]

'4,725,000'

In [198]:
# country
results[0].find_all('span')[0].get_text()

'Foreign Used'

In [199]:
# mileage
results[0].find_all('span')[1].get_text()

'208485 km'

In [200]:
name = []
price = []
country = []
mileage = []

for result in results:
    
    # name
    try:
        name.append(result.find('p',{'class':'car-feature__name'}).get_text())
    except:
        name.append('n/a')
        
    # price
    try:
        price.append(result.find('p',{'class':'car-feature__amount'}).get_text().split()[-1])
    except:
        price.append('n/a')
    
    # country
    try:
        country.append(result.find_all('span')[0].get_text())
    except:
        country.append('n/a')
        
    # mileage
    try:
        mileage.append(result.find_all('span')[1].get_text())
    except:
        mileage.append('n/a')

In [201]:
data_1 = pd.DataFrame({'name':name,
                     'price':price,
                     'country':country,
                     'mileage_in_km':mileage})

In [202]:
data_1

                            name       price        country mileage_in_km
0             Lexus ES 2009 Gray   4,725,000   Foreign Used     208485 km
1        Lexus ES 350 2007 Black   4,472,000  Nigerian Used      91026 km
2       Lexus RX 330 2004 Silver   5,250,000   Foreign Used     346408 km
3        Lexus ES 350 2010 Black   6,676,000   Foreign Used     220978 km
4         Lexus ES 300 2002 Gray   2,716,000  Nigerian Used     311511 km
5              Lexus IS 2006 Red   3,640,000  Nigerian Used     129101 km
6        Lexus RX 350 2018 Black  21,937,500   Foreign Used       7349 km
7        Lexus RX 350 2011 White   9,880,000   Foreign Used      72572 km
8              Lexus ES 2010 Red   6,032,000   Foreign Used     143196 km
9             Lexus LS 2007 Gray   5,250,000   Foreign Used     277739 km
10          Lexus ES 2004 Silver   3,328,000   Foreign Used     614663 km
11  Lexus IS 250 AWD 2007 Silver   4,160,000   Foreign Used     205644 km
12            Lexus RX 2004 Gray   5,250,000   Foreign Used     396182 km
13             Lexus ES 2007 Red   4,836,000   Foreign Used     133222 km
14        Lexus ES 350 2009 Blue   4,680,000  Nigerian Used      63060 km

In [95]:
name = []
price = []
country = []
mileage = []

for i in range(2,43):
    website = 'https://www.cars45.com/listing/lexus/page' + str(i) + '?listing_id=uc0qL_tfhqKfJoc7'
    
    # request website
    response = requests.get(website)
    
    # soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # bringing up the content of the url
    results = soup.find_all('div',{'class':'car-feature__details'})
    
    for result in results:
    
        # name
        try:
            name.append(result.find('p',{'class':'car-feature__name'}).get_text())
        except:
            name.append('n/a')

        # price
        try:
            price.append(result.find('p',{'class':'car-feature__amount'}).get_text().split()[-1])
        except:
            price.append('n/a')

        # country
        try:
            country.append(result.find_all('span')[0].get_text())
        except:
            country.append('n/a')

        # mileage
        try:
            mileage.append(result.find_all('span')[1].get_text())
        except:
            mileage.append('n/a')

In [96]:
data_2 = pd.DataFrame({'name':name,
                     'price':price,
                     'country':country,
                     'mileage_in_km':mileage})

In [114]:
data_2

                             name      price        country mileage_in_km
0         Lexus RX 350 2013 Black  7,900,000  Nigerian Used      93594 km
1            Lexus ES 2007 Silver  3,744,000  Nigerian Used     177936 km
2         Lexus ES 330 2005 Black  3,360,000   Foreign Used     174360 km
3          Lexus ES 350 2009 Blue  4,680,000  Nigerian Used      63060 km
4        Lexus ES 350 2007 Silver  3,465,000  Nigerian Used      84355 km
..                            ...        ...            ...           ...
604   Lexus LS 460 AWD 2009 Black  2,370,000  Nigerian Used     127837 km
605        Lexus RX 330 2005 Gray  2,330,000  Nigerian Used     313676 km
606            Lexus ES 2010 Gray  4,784,000  Nigerian Used     197269 km
607  Lexus IS 2003 Automatic Gray    945,000  Nigerian Used           n/a
608       Lexus RX 350 2010 White  9,880,000   Foreign Used      98929 km

[609 rows x 4 columns]

In [232]:
df = [data_1, data_2]
data = pd.concat(df)

In [233]:
data

                             name      price        country mileage_in_km
0              Lexus ES 2009 Gray  4,725,000   Foreign Used     208485 km
1         Lexus ES 350 2007 Black  4,472,000  Nigerian Used      91026 km
2        Lexus RX 330 2004 Silver  5,250,000   Foreign Used     346408 km
3         Lexus ES 350 2010 Black  6,676,000   Foreign Used     220978 km
4          Lexus ES 300 2002 Gray  2,716,000  Nigerian Used     311511 km
..                            ...        ...            ...           ...
604   Lexus LS 460 AWD 2009 Black  2,370,000  Nigerian Used     127837 km
605        Lexus RX 330 2005 Gray  2,330,000  Nigerian Used     313676 km
606            Lexus ES 2010 Gray  4,784,000  Nigerian Used     197269 km
607  Lexus IS 2003 Automatic Gray    945,000  Nigerian Used           n/a
608       Lexus RX 350 2010 White  9,880,000   Foreign Used      98929 km

[624 rows x 4 columns]

### DATA INSPECTION AND WRANGLING

In [235]:
# removing 'km' from the mileage column
data['mileage_in_km'] = data['mileage_in_km'].apply(lambda x:x.strip('km'))

In [236]:
# renaming column
data = data.rename(columns={'price': 'price_in_NGN'})

In [237]:
data.shape

(624, 4)

In [238]:
data.isnull().sum()

name             0
price_in_NGN     0
country          0
mileage_in_km    0
dtype: int64

In [239]:
data.head()

                       name price_in_NGN        country mileage_in_km
0        Lexus ES 2009 Gray    4,725,000   Foreign Used       208485
1   Lexus ES 350 2007 Black    4,472,000  Nigerian Used        91026
2  Lexus RX 330 2004 Silver    5,250,000   Foreign Used       346408
3   Lexus ES 350 2010 Black    6,676,000   Foreign Used       220978
4    Lexus ES 300 2002 Gray    2,716,000  Nigerian Used       311511

In [242]:
data.to_csv('cars45_lexus_sales.csv', index=False)