## PHARMAEASY.COM SCRAPING
This code was used to scrap the vitamin section of pharmaeasy.com.

A peculiar characteristic of this webpage is that it is made of infinite scroll.

In [1]:
# import libraries
import pandas as pd
import json
import requests

In [31]:
product_id = []
name = []
manufacturer = []
discounted_price = []
actual_price = []

page_num = 1
try:
    while True:
        url = "https://www.pharmeasy.in/api/search/search/?intent_id=1657058963236&page=" + str(page_num) + "&q=vitamins"
        #send get() request to fetch webpage content
        response = requests.get(url)

        # extract json file
        result = response.content
        data = json.loads(result)
        if len(data["data"]["products"]) == 0:
            break
        else:
            for i in data["data"]["products"]:
                
                # extract product_id
                try:
                    product_id.append(i["productId"])
                except:
                    product_id.append("n/a")
                    
                # extract name of product
                try:
                    name.append(i["name"].title())
                except:
                    name.append("n/a")
                
                # extract manufacturer of product
                try:
                    manufacturer.append(i["manufacturer"].title())
                except:
                    manufacturer.append("n/a")
                
                # extract price after discounted
                try:
                    discounted_price.append(i["salePriceDecimal"].title())
                except:
                    discounted_price.append("n/a")
                
                # extract price before discount
                try:
                    actual_price.append(i["mrpDecimal"].title())
                except:
                    actual_price.append("n/a")
            page_num+= 1
except:
    pass

In [33]:
# adding all data into a dataframe
df = pd.DataFrame({"product_id": product_id,
                   "name": name,
                   "manufacturer": manufacturer,
                   "discounted_price": discounted_price,
                   "actual_price": actual_price
                  })
df.head()

,product_id,name,manufacturer,discounted_price,actual_price
0,1,Vitamin Test,n/a,n/a,n/a
1,235895,Liveasy Wellness Multivitamin Multimineral - I...,Liveasy Wellness,349.50,699.00
2,3491142,Pharmeasy Multivitamin Multimineral - Immunity...,Pharmeasy,419.40,699.00
3,3017741,Lycopene Syrup 200 Ml,Oriel,187.00,220.00
4,5017,Calday D3 60K Capsule,Biovitamins Private Limited,81.60,96.00

In [37]:
df.drop( 0, axis=0, inplace=True)

In [39]:
df.head(2)

,product_id,name,manufacturer,discounted_price,actual_price
1,235895,Liveasy Wellness Multivitamin Multimineral - I...,Liveasy Wellness,349.50,699.00
2,3491142,Pharmeasy Multivitamin Multimineral - Immunity...,Pharmeasy,419.40,699.00

In [40]:
len(df)

276

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276 entries, 1 to 276
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        276 non-null    int64
 1   name              276 non-null    object
 2   manufacturer      276 non-null    object
 3   discounted_price  276 non-null    object
 4   actual_price      276 non-null    object
dtypes: int64(1), object(4)
memory usage: 12.9+ KB

In [42]:
df.to_csv("pharmeasy_vitamins.csv", index=False)